body, html {
    background-color: #fdfdfd;
    height: 100%;
    margin: 0;
    font-family: Arial;
    /*background-image: url('https://plainbackground.com/download.php?imagename=5b5b5b.png');*/
    color:#ffffff;
}

.table td {
    color: #ffffff;
}

.w3-border-right{
    background-color: #ffffff;
}


/*dark mode starts here */

.dark-mode, body {
    /*background-image: url('https://github.com/EskandarAtrakchi/project-101-dynamic/blob/main/background-img.jpg?raw=true');*/
    background-color: #333;
    background-size: cover; /* Cover the entire viewport */
    background-repeat: repeat; /* Repeat the image horizontally and vertically */
    background-repeat: repeat-y; /* Repeat the image vertically */
    color: #000000;
}

.dark-mode .left,
.dark-mode .right,
.dark-mode .w3-border-right {
    background-color: #333;
    /*background-image: url('https://github.com/EskandarAtrakchi/project-101-dynamic/blob/main/background-img.jpg?raw=true');*/
    background-size: cover; /* Cover the entire viewport */
    background-repeat: repeat; /* Repeat the image horizontally and vertically */
    background-repeat: repeat-y; /* Repeat the image vertically */
    color: #000000;
}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode div,
.dark-mode .table td {
    color: #000000;
}