@media only screen and (max-width: 767px) {
    .pyramid-loader {
      display: none;
    }
    #greedIndex {
      width: 100%;
      height: 100%;
    }
    #fearIndex {
      width: 100%;
      height: 100%;
    }
    #tickerChart {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 50%;

    }
    .first-div {
      width: 100%;
      padding-left: 0%;
      padding-right: 0%;
      padding-bottom: 0%;
    }
  }
