/*Calculate page */
@media only screen and (max-width: 767px) {
  .second-div {
    padding: 10px;
  }
  /* Adjust arrow button */
  a[href="#top"] {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .btn {
      position: fixed;
      bottom: 10px; /* Adjust bottom distance from the bottom edge */
      right: 10px; /* Adjust right distance from the right edge */
      z-index: 9999; /* Ensure it's on top of other elements */
    }
    .spacer {
      display: inline-block; /* Ensure it respects inline context */
      height: 1000px; /* Adjust the desired height */
    }
    /* Additional styles for better display */
  .containerCalc {
      text-align: center;
      margin-bottom: 20px;
  }
  
  .container {
      display: flex;
      flex-wrap: wrap;
  }
  
  .first-div,
  .second-div {
      flex: 0 0 100%;
      padding: 10px;
  }
  
  /* Adjust cube loader */
  .cube-loader {
      margin: 0 auto;
  }

  /* Adjust explanation text */
  .second-div p {
      margin-bottom: 5px;
  }
  
  /* Adjust transaction form */
  #cryptoForm {
      margin-bottom: 20px;
  }
  #downloadButton {
    position: fixed;
    top: 25%; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
  }
}
