@media only screen and (max-width: 767px) {
    body, html {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        max-width: 100%;
    }
    
    .app {
        margin: 20px 160px;
        max-width: 80%;
    }
    
    table {
        max-width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        text-align: left;
        padding: 14px 8px;
        border: 1px solid #ddd;
    }
    
    th {
        color: #9da0a6;
    }
    
    .asset-logo {
        width: 40px;
        height: 40px;
    }
    
    .positive {
        color: #4fbf67;
    }
    
    .negative {
        color: #ff5c5c;
    }
}
